{
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "@bryce-loskie",
    "plugin:@next/next/recommended"
  ],
  "settings": {
    "react": {
      "version": "18"
    }
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "react/react-in-jsx-scope": "off"
  }
}
