* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-black: #1f1c2e;
  --color-white: #f3f6fd;
}

html {
  @apply bg-color-white text-color-black;
}

html.dark {
  @apply bg-color-black text-color-white;
}
